$color-secondary: #1f1f1f;

$color-grey-dark: #8c8c8c;
$color-grey-light: #bfbfbf;

$color-gold-5: #ffc53d;

$color-red-5: #ff4d4f;

$font-size-2: 2rem;

/* stylelint-disable  */
:export {
  grey-dark: $color-grey-dark;
  grey-light: $color-grey-light;
  gold-5: $color-gold-5;
  red-5: $color-red-5;
  font-size-2: $font-size-2;
  color-secondary: $color-secondary;
}
