.login-page {
  height: 100vh;
  background: url(../asset/login-bg.jpeg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.login-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.4;
  box-shadow: 10px 10px 30px #f2f2f2;
  background-image: url("../asset/lock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background: rgb(3 3 3 / 25%);
  box-shadow: 1px 1px 50px;
  opacity: 0.5;
  scale: 0.1;

  h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }

  .input {
    text-decoration: none !important;
    position: relative !important;
    width: 80%;
    display: flex;
    margin: 0.5rem auto;
    font-size: 17px;
    padding: 8px;
    border-radius: 6px;
    border: none !important;
    outline: none;
    background: rgb(3 3 3 / 10%) !important;
    transition: all 0.2s ease-in-out;
    color: #ddd;

    ::placeholder {
      font-size: 17px;
    }

    &:hover {
      outline: none !important;
      border: none !important;
      border-color: transparent !important;
      background: rgb(3 3 3 / 25%) !important;
    }
  }

  .button {
    background-color: #2f54eb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: 6px;
  }

  div[role="alert"] {
    color: #f5222d;
    width: 80%;
    margin: -5px auto;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .close-btn {
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 18px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
