.user-list {
  width: 15%;
  border-right: 1px solid grey;
  padding: 5px;
  font-size: 1rem;
  overflow-y: scroll;
  height: 95%;
  color: #646464;

  &::-webkit-scrollbar {
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    padding-left: 1rem;

    &:hover {
      background-color: #d2d2d2;
      color: black;
    }
  }
}
