.drum-pad {
  width: 5vmin;
  height: 5vmin;
  border: 0.25vmin solid rgb(75 75 75);
  border-radius: 1vmin;
  line-height: 5vmin;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(-4px) scale(1.06);
  }

  /*
    Color - Success
  */
  &[color="success"] {
    border-color: rgb(0 255 100);
    color: rgb(0 255 100);

    &:hover {
      color: rgb(75 75 75);
      background-color: rgb(0 255 100);
      box-shadow: 10px 10px 20px rgb(255 255 255);
    }
  }

  /*
    Color - danger
  */
  &[color="danger"] {
    border-color: rgb(255 0 75);
    color: rgb(255 0 75);

    &:hover {
      color: #fff;
      background-color: rgb(255 0 75);
    }
  }

  /*
    Color - warning
  */
  &[color="warning"] {
    border-color: rgb(255 204 0);
    color: rgb(255 204 0);

    &:hover {
      color: rgb(75 75 75);
      background-color: rgb(255 204 0);
    }
  }

  /*
    Color - info
  */
  &[color="info"] {
    border-color: rgb(255 204 0);
    color: rgb(255 204 0);

    &:hover {
      color: rgb(75 75 75);
      background-color: rgb(255 204 0);
    }
  }
}
