@import "@ant-design/pro-card/dist/card.css";
@import "~antd/dist/antd.dark.css";



/* Layout */
.logo {
  height: 32px;
  margin: 16px;
  background: rgb(255 255 255 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-short {
  background-image: url("./asset/logo-short.png");
}

.logo-rectangle {
  background-image: url("./asset/logo.png");
}

.ant-page-header-content {
  padding: 0;
}

.ant-layout-sider-children {
  height: 100vh !important;
}

.ant-pro-table-list-toolbar {
  .ant-pro-table-list-toolbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
  }

  .ant-pro-table-list-toolbar-right {
    margin-left: auto !important;
  }

  .ant-pro-table-list-toolbar-title {
    margin-right: auto !important;
  }
}

.cancel-icon {
  .anticon-info-circle {
    display: none;
  }
}

// .test {
//   display: none;
// }

.anticon-reload {
  cursor: pointer !important;
}

.ant-pro-card-title {
  color: #c8c5be;
}

.ant-pro-card-header {
  background-color: #000;
  padding-left: 0;
  padding-right: 0;
  border-color: #c8c5be;
}

.ant-pro-card-body {
  background-color: #000;
  padding-left: 0;
  padding-right: 0;
}

.ant-picker-range .ant-picker-active-bar {
  background: #ff4d4f;
}


